// import de tipografía
@import "html/tipografia/tipografia";

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    font-size: 17px;
}

// Estilos del contenedor principal (header, main y footer)
.mainContent {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 10fr 0.1fr;

    /* Estructura por áreas */
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

// immport de cada sección
@import "html/home";
@import "html/banda";
@import "html/conciertos";
@import "html/tienda";
@import "html/musica";
@import "html/galeria";
@import "html/videos";

// import de media query
@import "html/mdq/mdq"