/* HOME */
/* mq tablet */
@media screen and (min-width: 750px) {

    /* header - logo */
    .header {
        .logo {
            margin-top: 0.2rem;

            a {
                img {
                    height: 5.25rem;
                }
            }
        }

        // header - barra de navegación 
        nav {
            div {
                div {
                    .navLinks {
                        margin-inline-start: 9.5rem;
                        margin-inline-end: 9.5rem;

                        li {
                            a {
                                font-size: 14.25px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Estilos de main */
    main {
        .imgMain {
            display: block;
        }

        .titulo {
            h1 {
                padding-inline-start: 5rem;
            }
        }

        // Sin  modificaciones en el Bloque Padre 
        .blockPadre {

            // Bloque Hijo 
            .blockHijo {

                // contenedor de imagen
                .imagePNG {
                    width: 38rem;
                    height: auto;

                    img {
                        width: 38rem;
                        height: 20rem;
                    }
                }

                // contenedor de info
                .imageInfo {
                    div {
                        justify-content: center;
                        align-items: center;

                        width: 38rem;
                        padding: 3rem;
                        padding: 1rem 3rem;
                    }
                }

                .imageInfoM {
                    padding: 3rem;
                }
            }
        }
    }

    /* Estilos de footer */
    footer {
        .redesSocialesGifts {
            .gifts {
                .enlacesGifts {
                    gap: 1.75rem;
                }
            }

            .rs {
                .enlacesRedes {
                    gap: 2.75rem;
                }
            }
        }

        .footerEnd {
            flex-flow: row wrap;
            padding: 1.5rem;
            gap: 1rem;

            .uno {
                span {
                    text-align: left;
                }
            }

            .dos {
                span {
                    text-align: right;
                }
            }
        }
    }
}

/* mq de escritorio  1*/
@media screen and (min-width: 1024px) {
    .header {
        padding: 0.225rem;
        gap: 0rem;

        flex-flow: row nowrap;
        justify-content: space-around;

        .logo {
            margin-top: 0.3rem;
            margin-left: 0.5rem;

            img {
                height: 5.5rem;
            }
        }

        nav {
            div {
                div {
                    .navLinks {
                        /* header - barra de navegación */
                        margin-inline-start: 12rem;
                        margin-inline-end: 12rem;
                        padding: 0.5rem;
                        gap: 2rem;

                        li {
                            a {
                                font-size: 15px;
                                margin-inline-start: 0.4rem;
                                margin-inline-end: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .titulo {
            h1 {
                padding-inline-start: 12rem;
            }
        }

        .blockPadre {
            /* Bloque - Padre */
            @include widthtHeightAuto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;

            justify-items: center;
            align-content: center;
            gap: 1rem;
            padding-top: 1.5rem;

            /* Bloques - Hijos */
            .blockHijo {
                @include widthtHeightAuto;
                @include flexParam(row, nowrap, center, center, center, center, 2rem);

                .imagePNG {
                    /* contenedor de imagen*/
                    @include widthtHeight(100%, auto);

                    img {
                        @include widthtHeight(28rem, 22rem);
                    }

                    /* Animaciones y transiciones */
                    .debiSuponerlo {
                        @include newsLeft;
                    }

                    .disco4 {
                        @include newsRigth;
                    }

                    .salirConVida {
                        @include newsLeft;
                    }

                    .juanes506 {
                        @include newsRigth;
                    }

                    .pngCuatro {
                        img {
                            box-shadow: 1rem 1rem 7.5px rgba(128, 0, 128, 0.627), -1rem -1rem 7.5px rgba(128, 128, 128, 0.753);
                        }
                    }

                    .pngUno {
                        img {
                            box-shadow: 1rem -1rem 7.5px lightblue, -1rem 1rem 7.5px burlywood;
                        }
                    }

                    .pngDos {
                        img {
                            box-shadow: 1rem 1rem 7.5px rgba(226, 90, 90, 0.822), -1rem -1rem 7.5px greenyellow;
                        }
                    }

                    .pngTres {
                        img {
                            box-shadow: -1rem 1rem 7.5px rgba(56, 55, 55, 0.901), 1rem -1rem 7.5px rgb(197, 151, 95);
                        }
                    }
                }

                /* contenedor de info*/
                .imageInfo {
                    margin-block-end: 0rem;

                    div {
                        @include widthtHeight(28rem, 22rem);
                        padding: 1rem 1.5rem;
                        justify-content: center;
                        background-color: $color_info_home;
                        margin: 0.05rem 0.05rem 0.05rem 0.05rem;
                        border: $color_nav solid 0.75px;
                    }
                }
            }

            .uno {
                @include newsReverse;
            }

            .tres {
                @include newsReverse;
            }
        }
    }

    footer {
        .redesSocialesGifts {
            @include flexParam(row, wrap, center, center, center, center, 12rem);
            @include widthtHeightAuto;

            /* enlaces */
            .gifts {
                .enlacesGifts {
                    gap: 1.75rem;
                }
            }

            .rs {
                .enlacesRedes {
                    gap: 3.75rem;
                }
            }
        }
    }
}

/* mq de escritorio  2*/
@media screen and (min-width: 1140px) {
    main {
        .blockPadre {
            gap: 1rem;

            .blockHijo {
                gap: 3.75rem;

                .imagePNG img {
                    @include widthtHeight(35rem, 22rem);
                }

                /* contenedor de info*/
                .imageInfo div {
                    @include widthtHeight(35rem, 22rem);
                    padding: 1rem 3.25rem;
                }
            }
        }
    }
}


/* BANDA */
/* mq tablet */
@media screen and (min-width: 400px) {
    main {
        .blockPadreT {
            .blockHijoT {

                // CONTENEIDO 
                .content {
                    .contentAllBlock {
                        .contentBlock {
                            .contentImg {
                                img {
                                    @include widthtHeight(100%, 20rem);

                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 800px) {
    .BANDA {
        .blockPadreB {
            .blockHijoB {
                .content {
                    .biografia {
                        padding-inline-start: 3.5rem;
                        padding-inline-end: 3.5rem;
                    }
                }
            }
        }

        .contentFotos {
            .integrantesDeBanda {
                @include widthtHeightAuto;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                align-items: center;
            }
        }
    }
}

/* mq escritorio */
@media screen and (min-width: 1024px) {
    .BANDA {
        .blockPadreB {
            .blockHijoB {
                .content {
                    .biografia {
                        padding-inline-start: 7.5rem;
                        padding-inline-end: 7.5rem;
                    }
                }
            }
        }
    }
}


/* CONCIERTOS */
/* mq tablet */
@media screen and (min-width: 750px) {
    main {
        .blockPadreC {
            .blockHijoC {
                .noEventos {
                    .imagePNGC {
                        height: 19rem;

                        img {
                            height: 20rem
                        }
                    }

                    .textoIcono {
                        .texto {
                            h2 {
                                font-size: 35px;
                            }
                        }
                    }

                    .gira {
                        h3 {
                            font-size: 30px;
                        }
                    }

                    .imageMundo {
                        #iconoMundo {
                            height: 3.75rem;
                        }
                    }
                }

                .siEventos {
                    .eventos2023 {
                        width: 500px;
                        gap: 1.75rem;
                        padding-top: 3.5rem;

                        p {
                            font-size: 20.5px;
                        }
                    }
                }
            }

            .imageInfoM {
                padding: 3rem;
            }
        }
    }
}

/* mq escritorio */
@media screen and (min-width: 1024px) {
    main {
        .blockPadreC {
            .blockHijoC {
                .noEventos {
                    .imagePNGC {
                        height: 23rem;

                        img {
                            height: 24rem;
                        }
                    }

                    .textoIcono {
                        .texto {
                            h2 {
                                font-size: 35px;
                            }
                        }
                    }

                    .gira {
                        h3 {
                            font-size: 30px;
                        }
                    }

                    .imageMundo {
                        #iconoMundo {
                            height: 4.25rem;

                            &:hover {
                                transition: 0.4;
                                transform: rotate(360deg) scale(1.2);
                            }
                        }
                    }
                }

                .siEventos {
                    gap: 3.5rem;
                    /* igual 1*/

                    .eventos2023 {
                        width: 1000px;

                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        justify-items: center;
                        align-content: center;

                        gap: 1.25rem;
                        /* separa eventos*/
                        padding-top: 3.5rem;
                        /* igual 1*/

                        .placeDate {
                            flex-flow: row nowrap;
                            justify-content: center;

                            gap: 0.25rem;
                            /* separa la date y place */

                            p {
                                font-size: 22.5px;
                                margin-inline-start: 0.4rem;
                                margin-inline-end: 0.4rem;

                                strong {
                                    gap: 0.75rem;
                                    border-right: 1px solid black;
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* TIENDA */
/* mq tablet */
@media screen and (min-width: 750px) {
    main {
        .blockPadreT {
            .blockHijoT {

                // CONTENEDOR DE PRESENTACIÓN / TIENDA 
                .presentation {
                    .imagePNGT {
                        height: 19rem;

                        img {
                            height: 20rem;
                        }
                    }

                    .textoIcono {
                        .texto {
                            h2 {
                                font-size: 35px;
                            }
                        }

                    }

                    .imageShop {

                        // ícono mundo
                        #iconoShop {
                            height: 3.75rem;
                        }
                    }

                    .imageInfoM {
                        padding: 3rem;
                        margin-block-end: 1.5rem;
                    }
                }

                // CONTENEIDO 
                .content {
                    .contentAllBlock {
                        .contentBlock {
                            .contentImg {
                                height: 26.5rem;

                                img {
                                    @include widthtHeight(32.5rem, 28rem);
                                }
                            }
                        }
                    }

                    .imageInfoM {
                        padding: 3rem;
                    }
                }
            }
        }
    }
}

/* mq escritorio 1*/
@media screen and (min-width: 1024px) {
    main {
        .blockPadreT {
            .blockHijoT {

                // CONTENEDOR DE PRESENTACIÓN / TIENDA 
                .presentation {
                    height: auto;
                    width: auto;

                    padding: 0.25rem 1rem 0.25rem 1rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;

                    @include flexParam(column, nowrap, center, center, center, center, 1.5rem);

                    // CONTENEDOR DE IMAGEN-TIENDA
                    .imagePNGT {
                        height: 24rem;

                        img {
                            height: 25rem;
                        }
                    }

                    .imageShop {

                        // ícono mundo
                        #iconoShop {
                            height: 4.25rem;

                            &:hover {
                                transform: scale(1.2);
                                transition: all 0.4s;
                            }
                        }
                    }
                }

                // CONTENEIDO 
                .content {
                    gap: 3.5rem;

                    .contentAllBlock {
                        flex-flow: row nowrap;
                        gap: 7rem;

                        .contentBlock {
                            .contentLink {
                                .imageInfoM {
                                    display: none;
                                }
                            }

                            .contentImg {
                                height: 24.5rem;

                                img {
                                    @include widthtHeight(auto, 26rem);
                                }
                            }

                            .imageInfoM {
                                display: none;
                            }
                        }
                    }

                    .general {
                        display: block;
                    }
                }

                .imageInfoM {
                    margin-block-end: 1.5rem;
                    padding: 1rem;
                }
            }
        }
    }
}

/* mq escritorio 2*/
@media screen and (min-width: 1140px) {
    main {
        .blockPadreT {
            .blockHijoT {
                .content {
                    .contentAllBlock {
                        flex-flow: row nowrap;
                        gap: 7rem;

                        .contentBlock {
                            .contentImg {
                                height: 29.5rem;

                                img {
                                    @include widthtHeight(32.5rem, 30rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* MÚSICA */
/* mq teléfono / adaptación 2 */
@media screen and (min-width: 400px) {
    main {
        .blockPadreM {
            .blockAllM {
                .blockHijoM {

                    // Imagen de cada disco
                    .imageBlock {
                        img {
                            width: 22.5rem;

                            // Animaciones de cada disco 
                            &:hover {
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* mq tablet */
@media screen and (min-width: 750px) {
    main {
        .slider {
            display: flex;
        }

        .blockPadreM {
            .blockAllM {
                .blockHijoM {

                    // Contenedor imagen de cada disco
                    .imageBlock {
                        width: 10rem;

                        // Imagen de cada disco
                        img {
                            width: 27.5rem;

                            //Animaciones de cada disco
                            &:hover {
                                border-radius: 5.5rem;
                                width: 400px;
                            }
                        }
                    }

                    .contentYS {
                        .imageInfoM {
                            padding: 2rem;
                        }
                    }
                }
            }
        }
    }
}

/* mq escritorio 1*/
@media screen and (min-width: 1024px) {
    main {
        .slider {
            height: 525px;
        }

        .blockPadreM {
            padding-top: 0.5rem;
            padding-bottom: 3rem;

            .blockAllM {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 50% 50%;

                gap: 0rem;

                .blockHijoM {

                    // Contenedor imagen de cada disco
                    .imageBlock {
                        width: 10rem;
                        filter: blur(1px);

                        &:hover {
                            filter: contrast(120%);
                        }

                        // Imagen de cada disco
                        img {
                            width: 25rem;
                            filter: sepia(75%);

                            &:hover {
                                width: 350px;
                            }
                        }
                    }

                    .contentYS {
                        a {
                            .youtubeDisco {
                                filter: blur(1px);
                                @include mdq_musica_w;
                            }

                            .spotifyDisco {
                                filter: blur(1px);
                                @include mdq_musica_w;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* mq escritorio 2*/
@media screen and (min-width: 1140px) {
    main {
        .blockPadreM {
            .blockAllM {
                gap: 0rem;

                .blockHijoM {

                    // Contenedor imagen de cada disco
                    .imageBlock {
                        width: 10rem;

                        // Imagen de cada disco
                        img {
                            width: 27.5rem;

                            &:hover {
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* VIDEOS */
/* mq de tablet */
@media screen and (min-width: 700px) {
    .VIDEOS {
        .mainVideo {
            display: block;
            width: auto;

            .contentVideo {
                .videoIframe {
                    @include widthtHeight(100%, 20.5rem);

                    iframe {
                        width: 100%;
                    }
                }
            }
        }

        .blockPadreV {
            .blockAllV {
                display: grid;
                grid-template-columns: 0.5fr 0.5fr;
                grid-template-rows: auto;

                .blockHijoV {
                    .videoTitle {
                        .titleV {
                            font-size: 17.5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .VIDEOS {
        .mainVideo {
            .contentVideo {
                .videoIframe {
                    padding-bottom: 30%;
                    height: 0;
                    overflow: hidden;
                    position: relative;

                    iframe {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 80%;
                    }
                }
            }
        }

        .blockPadreV {
            @include widthtHeight(100%, auto);
            @include flexFlowNoGap(column, nowrap);
            justify-content: center;
            align-items: center;

            .blockAllV {
                grid-template-columns: 0.5fr 0.5fr 0.5fr;
                grid-template-rows: auto;
                gap: 2rem;

                .blockHijoV {
                    .videoTitle {
                        .titleV {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

/* mq de escritorio 2*/
@media screen and (min-width: 1140px) {
    .VIDEOS {
        .blockPadreV {
            .blockAllV {
                padding-top: 2.5rem;
                padding-bottom: 3rem;
                gap: 1.75rem;

                .blockHijoV {
                    padding-bottom: 0.75rem;

                    .video {
                        width: 20rem;

                        iframe {
                            @include widthtHeight(19.5rem, 13.5rem);
                        }
                    }
                    .videoTitle{
                        h3{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}


/* CURIOSIDADES */


/* GALERÍA */
/* mq de tablet */
@media screen and (min-width: 600px) {
    .GALERIA {
        section {
            display: flex;
        }

        .blockPadreG {
            .blockAllG {
                .textoGaleria {
                    .hGaleria {
                        font-size: 24.5px;
                    }

                    #h3Galeria {
                        font-size: 22px;
                    }
                }

                .imageInfoM {
                    padding: 3rem;
                }

                .integrantes {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(3, 33%);
                    margin-bottom: 0rem;
                    padding-bottom: 4rem;

                    #img-siete {
                        display: block;
                        grid-column: span 2;
                    }
                }
            }
        }
    }
}

/* mq de escritorio */
@media screen and (min-width: 1024px) {
    .GALERIA {
        section {
            height: 500px;

            img {
                &:hover {
                    width: 180px;
                }
            }
        }

        .blockPadreG {
            .blockAllG {
                .textoGaleria {
                    .hGaleria {
                        font-size: 26.5px;
                    }

                    #h3Galeria {
                        font-size: 24px;
                    }
                }

                .integrantes {
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 27% 27% 22% 22%;

                    #img-tres {
                        @include displayBlock;
                        grid-column: span 2;
                    }

                    #img-cuatro {
                        @include displayBlock;
                        grid-column: span 2;
                    }

                    #img-siete {
                        grid-column: span 4;
                        grid-row: span 2;
                    }
                }
            }
        }
    }
}