main {
    .blockPadreC {
        div {
            @include widthtHeightAuto;
            @include flexParam(column, nowrap, center, center, center, center, 1.5rem);

            text-align: center;
            list-style: none;
            text-decoration: none;
        }

        .blockHijoC {

            // CONTENEDOR NO-EVENTOS 
            .noEventos {
                @include widthtHeightAuto;

                padding: 0.25rem 1rem 0.25rem 1rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                // CONTENEDOR DE IMAGEN-CONCIERTOS
                .imagePNGC {
                    @include widthtHeight(auto, 13rem);
                    overflow: hidden; // la imagen no desborda del contenedor
                    object-fit: cover; // Ocupa el tamaño de tal manera que podemos apreciar la imagen
                    border-radius: 6px;
                    box-shadow: 15px 10px 15px rgb(0, 0, 0);
                    transition: 0.6s;
                    cursor: grab;

                    &:hover {
                        filter: contrast(110%);
                        box-shadow: -15px -10px 15px rgb(0, 0, 0);
                        transition: 0.4s;
                        transform: scale(0.8);
                        -webkit-box-reflect: below 0px linear-gradient(to bottom, $color_news_black, $color_news_black_trans);
                    }


                    img {
                        @include widthtHeight(100%, 13rem);

                        &:hover {
                            cursor: grab;
                        }
                    }
                }

                // CONTENEDOR DE TEXTO ÍCONO-MUNDO 
                .textoIcono {
                    justify-content: center;
                    align-items: center;

                    .texto {
                        border: $color_nav solid 0.75px;
                        box-shadow: 0 0 25px $color_nav;

                        background-color: aliceblue;
                        margin: 0.05rem 0.05rem 0.05rem 0.05rem;

                        h2 {
                            transition: 0.35s;
                            font-size: 30px;
                            margin: 0.5rem;

                            &:hover {
                                transition: 0.5s;
                                transform: scale(0.8);
                                color: red
                            }
                        }
                    }

                }

                .gira {
                    margin-top: 1.5rem;

                    h3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 25px;
                    }
                }

                // CONTENEDOR DE ÍCONO - MUNDO/TIENDA
                .imageMundo {
                    @include flexFlowNoGap(row, nowrap);
                    justify-content: center;
                    align-items: center;

                    // ícono mundo
                    #iconoMundo {
                        @include widthtHeight(auto, 3.25rem);
                        object-fit: cover;
                        transition: 0.3s;

                        &:hover {
                            cursor: grab;
                            transition: 0.4;
                            transform: rotate(360deg) scale(1.3);
                        }
                    }
                }
            }

            // CONTENEDOR SÍ-EVENTOS 
            .siEventos {
                @include widthtHeightAuto;
                @include flexParam(column, nowrap, center, center, center, center, 1.5rem);
                //Solo para siEventos-Conciertos
                padding-top: 3.25rem;
                padding-bottom: 3rem;

                .eventos2023 {
                    @include widthtHeight(100%,auto);

                    @include flexParam(color, nowrap, space-around, center, space-around, center, 1.25rem);
                    /* separa eventos*/

                    //Solo para eventos2023-Conciertos
                    border-top: 0.25px solid $color_separa_conciertos;
                    padding-top: 1.5rem;
                    /* igual 1*/

                    .placeDate {
                        @include flexParam(color, nowrap, space-around, center, space-around, center, 0.25rem);
                        /* separa date y place */

                        p {
                            text-transform: uppercase;
                            font-size: 17.5px;

                            strong {
                                display: flex;
                                gap: 0.4rem;
                            }
                        }
                    }

                    .comprar {
                        background-color: black;
                        @include flexFlowNoGap(column, nowrap);
                        
                        @include widthtHeightAuto;

                        font-weight: bold;
                        color: $color_letra_footer;
                        border: 1.5px solid black;
                        background-color: black;
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: $color_letra_footer;

                            p {
                                transition: all 0.2s;
                                margin: 0.25rem 0.75rem;
                                padding: 0.25rem;

                                &:hover {
                                    transition: all 0.25s;
                                    transform: scale(1.1);
                                    color: $color_principal;
                                }
                            }
                        }
                    }
                }
            }
        }

        .imageInfoM {
            margin-block-end: 1.5rem;
            padding: 1rem;

            /* M de morat */
            img {
                @include widthtHeightSame(100%);
            }

            /* ícono de morat */
            #amongText {
                @include amongText(auto, 2rem, cover, 0.3s);

                &:hover {
                    transition: all 0.4;
                    transform: rotate(360deg) scale(1.5);
                }
            }
        }
    }
}