.GALERIA {
    section {
        display: flex;
        justify-content: center;
        justify-items: center;

        @include widthtHeight(auto, 400px);

        display: none;

        img {
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .95;
            transition: 0.5s;

            &:hover {
                cursor: grab;
                width: 150px;
                opacity: 1;
                filter: contrast(110%);
            }
        }
    }

    .blockPadreG {
        @include widthtHeight(auto, 100%);
        @include flexFlowNoGap(column, wrap);

        .blockAllG {
            @include widthtHeight(auto, 100%);
            @include flexFlowNoGap(column, nowrap);
            align-items: center;

            .textoGaleria {
                padding: 2rem 0rem 0.5rem 0rem;
                height: auto;
                @include flexFlowNoGap(column, nowrap);
                justify-content: center;
                align-items: center;

                .hGaleria {
                    width: auto;
                    font-size: 22.5px;
                    text-align: center;
                    border-bottom: 1.5px dashed black;
                    transition: all 0.2s;

                    &:hover {
                        color: $color_principal;
                        border-bottom: 3px solid $color_principal;
                        transform: scale(1.1);
                        transition: all 0.3s;
                    }
                }

                #h3Galeria {
                    font-size: 20px;
                }

            }

            .imageInfoM {
                @include widthtHeight(100%, auto);
                margin-block-end: 1.5rem;
                padding: 1rem;

                @include flexFlowNoGap(column, nowrap);
                justify-content: center;
                align-items: center;

                /* M de morat */
                img {
                    @include widthtHeightSame(100%);
                }

                /* ícono de morat */
                #amongText {
                    @include amongText(auto, 2rem, cover, 0.3s);
                    &:hover {
                        transform: rotate(360deg) scale(1.5);
                        transition: all 0.4s;
                    }
                }
            }

            .blockHijoG {
                height: 100%;
                display: grid;
            }

            .integrantes {
                height: 195vh;
                gap: 1.25rem;
                margin: 0rem 2rem 4rem 2rem;

                padding-inline-end: 0.8rem;
                padding-inline-start: 0.8rem;

                grid-template-columns: 1fr;
                grid-template-rows: 23.5% 26% 23.5% 26%;

                .containImg {
                    @include widthtHeight(100%, auto);
                    transition: all 0.5s;

                    img {
                        @include widthtHeightSame(100%);
                        object-fit: cover;

                        opacity: .8;
                        transition: 0.2s;
                        filter: grayscale(100%);

                        border-radius: 10px;

                        &:hover {
                            cursor: grab;
                            opacity: 1;
                            filter: contrast(110%);
                            transform: scale(0.975);
                            transition: 0.3s;
                        }
                    }
                }
                /* No se muestra la imagen */
                #img-tres {
                    @extend %displayNone;
                }

                #img-cuatro {
                    @extend %displayNone;
                }

                #img-siete {
                    @extend %displayNone;
                }
            }
        }
    }
}