main {
    .slider {
        @include flexFlowNoGap(column, nowrap);
        justify-content: center;
        justify-items: center;
        
        @include widthtHeight(auto, 300px);
        
        overflow: hidden;
        display: none;

        ul {
            display: flex;
            animation: cambio 14s infinite alternate-reverse backwards;
            @include widthtHeight(400%, auto);

            // Reseteo Bootstrap */
            padding-left: 0rem;

            li {
                width: 100%;
                list-style: none;

                img {
                    @include widthtHeightSame(100%);
                    object-fit: cover;
                    opacity: .8;
                    filter: grayscale(100%);
                    transition: all 0.4s;

                    &:hover {
                        transform: scale(1.05);
                        opacity: 2;
                        filter: contrast(125%);
                        transition: 0.5s;
                        cursor: grab;
                    }
                }
            }
        }
    }

    @import "../html/animacion/musica";

    .blockPadreM {
        @include flexFlowNoGap(column, nowrap);
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        padding-bottom: 4rem;

        .blockAllM {
            @include flexFlow(column, nowrap, 2rem);
            justify-content: center;
            align-items: center;

            .blockHijoM {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 74% 24%;

                justify-content: center;
                align-items: center;
                justify-items: center;
                align-content: center;
                gap: 0.25rem;

                .imageBlock {
                    @include widthtHeight(10rem, auto);
                    object-fit: cover;

                    display: flex;
                    justify-content: center;
                    justify-items: center;

                    img {
                        @include widthtHeight(15.5rem, auto);
                        border-radius: 0.75rem;
                        object-fit: cover;

                        opacity: .8;
                        filter: blur(2px);
                        transition: all 0.2s;

                        &:hover {
                            cursor: grab;
                            width: 225px;
                            border-radius: 5rem;
                            border: 0.15rem groove black;
                            opacity: 1;
                            filter: contrast(120%);
                            transition: all 0.4s;
                        }
                    }
                }

                .contentYS {
                    a {
                        text-decoration: none;

                        .youtubeDisco {
                            @extend %spotifyYoutubeDisco;

                            &:hover {
                                color: $color_principal;
                                @extend %spotifyYoutubeDiscoAnimation;
                            }
                        }

                        .spotifyDisco {
                            @extend %spotifyYoutubeDisco;

                            &:hover {
                                color: $color_spotify_disco;
                                @extend %spotifyYoutubeDiscoAnimation;
                            }
                        }

                        h2 {
                            @include widthtHeightAuto;
                            color: black;
                            padding: 0.25rem;
                            margin: 0.1rem;
                            font-size: 0.8rem;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            justify-items: center;
                            align-content: center;
                            text-align: center;
                        }
                    }

                    .imageInfoM {
                        @include widthtHeight(100%, auto);
                        margin-block-end: 1.5rem;
                        padding: 1rem;
                        
                        @include flexFlowNoGap(column, nowrap);
                        justify-content: center;
                        align-items: center;

                        #amongText {
                            @include amongText(auto, 2rem, cover, 0.3s);

                            &:hover {
                                transform: rotate(360deg) scale(1.5);
                                transition: all 0.4;
                            }
                        }
                    }
                }
            }
        }
    }
}