// Home y generales
$color_principal: crimson;
$color_nav: #1b3039;
$color_around_button: rgba(0, 0, 0, 0.75);
$color_button: rgba(220, 20, 60, 0.8);
$color_news_black: rgba(0,0,0,0.0);
$color_news_black_trans: rgba(0,0,0,0.4);
$color_info_home: aliceblue;
$color_letra_footer: whitesmoke;
$color_end_footer: rgb(40, 40, 40);
$color_border_top_end_footer: rgba(128, 0, 45, 0.45);
$bg_item_fixed: rgba(39, 188, 211, 0.9);

// Banda
$bg_content_biografia: rgba(5, 5, 5, 0.782);
$bg_integrante_info:rgba(10, 10, 10, .8);

// Conciertos
$color_separa_conciertos: rgba(0, 0, 0, 0.392);
$color_content_h2: rgb(29, 29, 97);
$color_content_h2_hover: rgba(0, 0, 255, 0.8);
$bg_capa: rgba(0, 103, 123, 0.7);

// Música
$color_spotify_disco: rgb(72, 144, 0);
