$color_principal: crimson;
$color_nav: #1b3039;
$color_around_button:rgba(0, 0, 0, 0.75);
$color_button: rgba(220, 20, 60, 0.8);
$color_news_black: rgba(0,0,0,0.0);
$color_news_black_trans: rgba(0,0,0,0.4);
$color_separa_conciertos: rgba(0, 0, 0, 0.392);
